# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Project's CI

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Project's CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup PNPM
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
      with:
        package_json_file: package.json
        run_install: false

    - name: Setup Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
      with:
        node-version-file: '.nvmrc'
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml
    - run: pnpm install
    - run: pnpm lint
    - run: pnpm test
    - run: pnpm build
