name: Publish on Github Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
        with:
          package_json_file: package.json
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml
      - name: Set git user
        run: |
          git fetch origin main
          git config --global user.name "$(git log -1 --pretty=format:'%an' origin/main)"
          git config --global user.email "$(git log -1 --pretty=format:'%ae' origin/main)"
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Release
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm release
